@import 'functions';
@import 'reset';
@import 'thematic';
.main_menu_btn {
    width: 100%;
    border: none;
    background-color: $pri;
    color: #fff;
    height: 60px;
    span {
        font-size: 36px;
    }
    &_open {
        display: block;
    }
    &_close {
        display: none;
    }
    i {
        margin-right: 20px;
    }
}

.menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 100%;
    transition: top .5s ease;
    background-color: $pri;
    z-index: 4;
    &_wrapper {
        width: 100%;
    }
    .main_menu {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: $pri;
        &_list {
            position: relative;
            background-color: $pri;
            height: 100%;
            margin: 0;
            padding: 0;
            &_item {
                list-style: none;
                width: 100%;
                text-align: center;
                border-bottom: 1px solid white;
                transition: background-color .5s ease;
                &:first-child {
                    border-top: 1px solid white;
                }
                &:hover {
                    background-color: $sec;
                }
                a {
                    display: block;
                    padding: 1em;
                    color: #fff;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 600;
                }
                &_submenu {
                    padding: 0;
                    & > .main_menu_list_item {
                        border: none;
                        a {
                            padding: 0 10px;
                            font-weight: 400;
                        }
                    }
                }
            }
            .current_page_item,
            .current_page_ancestor {
                background-color: $sec;
            }
        }
    }
}

@include respond-to("tabletportrait") {
    .menu {
        position: relative;
        height: 100px;
        &_wrapper {
            width: 100%;
        }
        .main_menu {
            height: 51px;
            width: 100%;
            &_list {
                height: 51px;
                width: 100%;
                &_item {
                    display: table-cell;
                    width: auto;
                    border: none;
                    &:first-child {
                        border: none;
                    }
                    a {
                        padding: 1em 1.5em;
                    }
                    &.current_item {
                        background: $sec;
                    }
                    &:hover {
                        .main_menu_list_item_submenu {
                            display: block;
                        }
                    }
                    &_submenu {
                        position: absolute;
                        display: none;
                        padding: 0;
                        background: #fff;
                        & > .main_menu_list_item {
                            display: block !important;
                            min-width: 300px;
                            border-bottom: 1px solid $pri;
                            a {
                                color: $pri;
                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .main_menu_btn {
        display: none;
    }
}
@include respond-to("tabletlandscape") {
    .main_menu {
        max-width: 1170px;
        margin: 0 auto;
    }
}
